<nav class="navbar container">
    <ul class="navbar--list">
        <li>
            <a
                routerLink="view"
                routerLinkActive="active"
                class="navbar--list__item"
                ><i class="fas fa-home"></i
            ></a>
        </li>
        <li>
            <a
                routerLink="likes-list"
                routerLinkActive="active"
                class="navbar--list__item"
                ><i class="fas fa-fire-alt"></i
            ></a>
        </li>
        <li>
            <a
                routerLink="profile"
                routerLinkActive="active"
                class="navbar--list__item"
                ><i class="fas fa-user-circle"></i
            ></a>
        </li>
        <li>
            <a (click)="auth.logout()" routerLink="../login">
                <i class="fas fa-power-off"></i>
            </a>
        </li>
    </ul>
</nav>
