<div class="container profile">
    <div class="profile-photoBox">
        <img
            src="{{ this.persona.image }}"
            alt="Foto de {{ this.persona.name }}"
        />
    </div>
    <div class="profile-data">
        <h2 class="profile-name">{{ this.persona.name }}</h2>
        , <span class="profile-age">{{ this.persona.dob }}</span>
        <p class="profile-place">
            <span class="profile-city">{{ this.persona.city }}</span>
            <span class="profile-country">{{ this.persona.country }}</span>
        </p>
    </div>
    <div class="profile-topics">
        <div class="profile-topic" *ngFor="let topic of this.persona.topics">
            <span>{{ topic }}</span>
        </div>
    </div>
    <p class="profile-des">{{ this.persona.bio }}</p>
</div>
