<div class="container create">
    <header class="header">
        <h1 class="title">Lucatinder</h1>
        <div class="logoBox">
            <img src="../../../assets/logo-white.png" alt="LucaTinder" />
        </div>
    </header>

    <form class="form">
        <div class="form-group">
            <label for="create--name">Nombre</label>
            <input
                required
                ngModel
                #userName="ngModel"
                type="text"
                name="create--name"
                id="create--name"
                class="form-control"
                (change)="logName(userName)"
            />
            <div
                class="alert alert-danger"
                *ngIf="userName.touched && !userName.valid"
            >
                Es necesario escribir tu Nombre
            </div>
        </div>
        <div class="form-group">
            <label for="create--age">Año de nacimiento</label>
            <input
                required
                ngModel
                #userAge="ngModel"
                type="date"
                name="create--age"
                id="create--age"
                class="form-control"
                (change)="logAge(userAge)"
            />
        </div>
        <div class="form-group">
            <label for="create--gender">Género</label>
            <select
                required
                ngModel
                #userGender="ngModel"
                name="create--gender"
                id="create--gender"
                class="form-control"
                (change)="logGender(userGender)"
            >
                <option value="male">Hombre</option>
                <option value="female">Mujer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="create--city">Ciudad</label>
            <input
                required
                ngModel
                #userCity="ngModel"
                type="text"
                name="create--city"
                id="create--city"
                class="form-control"
                (change)="logCity(userCity)"
            />
            <div
                class="alert alert-danger"
                *ngIf="userCity.touched && !userCity.valid"
            >
                Es necesario escribir tu Ciudad
            </div>
            <div class="form-group">
                <label for="create--country">Pais</label>
                <input
                    required
                    ngModel
                    #userCountry="ngModel"
                    type="text"
                    name="create--country"
                    id="create--country"
                    class="form-control"
                    (change)="logCountry(userCountry)"
                />
                <div
                    class="alert alert-danger"
                    *ngIf="userCountry.touched && !userCountry.valid"
                >
                    Es necesario escribir tu Pais
                </div>
            </div>
        </div>
        <div class="form-group">
            <span>Intereses</span>
            <div *ngFor="let topic of topicsList">
                <input
                    ngModel
                    #userTopic="ngModel"
                    type="checkbox"
                    id="topic-{{ topic }}"
                    name="{{ topic }}"
                    value="{{ topic }}"
                    (change)="logTopic(userTopic)"
                />
                <label for="topic-{{ topic }}"> {{ topic }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="create--text">Descripción</label>
            <textarea
                required
                ngModel
                #userBio="ngModel"
                name="create--text"
                id="create--text"
                cols="30"
                rows="10"
                (change)="logBio(userBio)"
            ></textarea>
        </div>
        <button class="submit" (click)="log()">Continuar</button>
        <!-- <input type="submit" value="Continuar" routerLink="../main" /> -->
    </form>
</div>
