<nav class="navbar container">
    <ul class="navbar--list">
        <li>
            <a
                routerLink="view"
                routerLinkActive="active-link"
                class="navbar--list__item"
                >Home</a
            >
        </li>
        <li>
            <a
                routerLink="profile"
                routerLinkActive="active-link"
                class="navbar--list__item"
                >Perfil</a
            >
        </li>
        <li>
            <button (click)="auth.logout()" routerLink="../login">Salir</button>
        </li>
    </ul>
</nav>
