<div class="container login">
    <header class="login-header">
        <h1 class="title">Lucatinder</h1>
        <div class="logoBox">
            <img src="../../../assets/logo-white.png" alt="LucaTinder" />
        </div>
        Entra y encuentra a quien quieres conocer
    </header>
    <form class="login--form">
        <div class="form-group">
            <label for="login--mail">Correo</label>
            <input
                required
                #user
                type="text"
                name="login--mail"
                id="login--mail"
                class="form-control"
            />
        </div>
        <div class="form-group">
            <label for="login--pw">Contraseña</label>
            <input
                required
                #pass
                type="password"
                name="login--pw"
                id="login--pw"
                class="form-control"
            />
        </div>
        <button
            (click)="login(user.value, pass.value)"
            *ngIf="this.userFirebase"
            routerLink="../main"
        >
            Entrar
        </button>

        <!-- <button (click)="login(user.value, pass.value)" routerLink="../main">
            Entrar
        </button> -->
    </form>
    <a routerLink="../signin" class="link">No tengo cuenta</a>
</div>
