.card {
    margin-top: 7em;
}

.tphoto {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    top: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    padding-bottom: 60px;
}

.tname {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
}

.tcontrols {
    display: flex;
    justify-content: center;
}

.button {
    margin: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    border: 1px solid var(--color-gray);
}

.button i {
    font-size: 5em;
    display: block;
}

.tyes {
    color: #5de19c;
}
.tno {
    color: var(--color-secondary-2);
}
