/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #4a1c3e;
    --color-primary-light: #fa91de;
    --color-primary-dark: #25031c;
    --color-secondary: #fbcc4c;
    --color-secondary-1: #f66159;
    --color-secondary-2: #f52778;
    --color-gradient: linear-gradient(
        90deg,
        var(--color-primary) 10%,
        var(--color-secondary) 100%
    );
    --color-white: rgb(250, 250, 250);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--color-white);
}

h1 {
    display: none;
}

img {
    width: 100%;
}

.link {
    color: var(--color-white);

    &:hover {
        color: var(--color-primary);
    }
}
