<div class="container signin">
    <form class="signin--form">
        <div class="form-goup">
            <label for="signin--mail">Correo</label>
            <input #user type="text" name="signin--mail" id="signin--mail" class="form-control" />
        </div>
        <div class="form-group">
            <label for="signin--pw">Contraseña</label>
            <input #pass type="password" name="signin--pw" id="signin--pw" class="form-control" />
        </div>

        <button (click)="registrar(user.value, pass.value)">
            Registrarme
        </button>
    </form>

    <a routerLink="../login" class="link">Ya tengo una cuenta</a>
</div>