<nav class="likesNavbar">
    <ul class="likesNavbar--list">
        <li>
            <a
                routerLink="likes"
                routerLinkActive="active"
                class="likesNavbar--list__item"
                ><i class="fas fa-heart"></i></a>
        </li>
        <li>
            <a
                routerLink="dislikes"
                routerLinkActive="active"
                class="likesNavbar--list__item"
                ><i class="fas fa-heart-broken"></i></a>
        </li>
        <li>
            <a
                routerLink="matches"
                routerLinkActive="active"
                class="likesNavbar--list__item"
                ><i class="far fa-kiss-wink-heart"></i></a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
