.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-secondary-1);
  box-shadow: 3px 3px 7px 1px var(--color-gray-dark);

  & .logoBox {
    width: 15vw;
    min-width: 100px;
    margin-bottom: 2vh;
  }
}
